@charset "utf-8";

/* div{
    width: 100px;
    height: 100px;
    background: orange;
    position: absolute;
    top: 0;
    left: 0;
    animation: move 3s ease-in infinite ;
} */
/* @keyframes move{
    0%{left:0;top: 0;}
    25%{left: 300px; top: 0;}
    50%{left: 300px; top: 300px;}
    75%{left: 0; top: 300px;}
    100%{left: 0; top: 0;}
}   */
div{
    width: 100px;  
    height: 100px;
    background: orange;
    margin: 10px 0;
    position: relative;
    left: 0;
    top: 0;
    animation-name: move2 ;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
}
.box1{animation-timing-function: linear;}
.box2{animation-timing-function: ease;}
.box3{animation-timing-function: ease-in;}
.box4{animation-timing-function: ease-out;}
.box5{animation-timing-function: ease-in-out;}

@keyframes move2{
    0%{left: 20px;transform: rotate(0deg);}   
    100%{left: 500px;transform: rotate(90deg);}}   
@-ms-keyframes move2{
    0%{left: 20px;transform: rotate(0deg);}   
    100%{left: 500px;transform: rotate(90deg);}   
}
@-webkit-keyframes move2{
    0%{left: 20px;transform: rotate(0deg);}   
    100%{left: 500px;transform: rotate(90deg);}   
}